package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Templ App</title>
			<link rel="stylesheet" href="/assets/index.css"/>
			<script src="/assets/main.js"></script>
		</head>
		<body>
			<div id="content">
				{ children... }
			</div>
		</body>
	</html>
}
